@page "/PasswordChanged"
@inherits UniwikiComponentBase

<div class="container my-5">
	<div class="mx-auto card shadow-lg" style="max-width: 25rem;">
		<div class="card-header h2 py-4 d-flex">
			<BackButtonComponent /> <span class="mx-auto">@TextService.PasswordChangedPage_Title</span><span class="mr-5"></span>
		</div>
		<div class="card-body text-center p-3 d-flex flex-column">
			@if (LoginService.IsAuthenticated)
			{
				<a class="btn btn-primary" href="@PageRoutes.HomePage.BuildRoute()">@TextService.PasswordChangedPage_BackToUniwiki</a>
			}
			else
			{
				<a class="btn btn-primary" href="@PageRoutes.LoginPage.BuildRoute()">@TextService.Button_LogIn</a>
			}
		</div>
	</div>
</div>

@code
{

	[Inject] ILoginService LoginService { get; set; } = null!;
	[Inject] INavigationService NavigationService { get; set; } = null!;
}
